@charset "ISO-8859-1";

p, table, div, body {
	font-family: lato, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

body {
	background-color: #fafafa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235ac2f5' fill-opacity='0.92' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	margin: 0;
}
/*   ================================================
                          common
     ================================================  */         
.bold {
	font-weight: bold;
}     
.center {
	text-align: center;
}   
.right {
	text-align: right;
}
.left {
	text-align: left;
}     
.undercost {
	position: absolute; 
	top: 320px; 
	left: 120px; 
	font-size: 130px; 
	color: rgba(100, 100, 100, 0.3); 
	-moz-transform:rotate(20deg); 
	-webkit-transform:rotate(20deg); 
	z-index: 0;
}
.screen-m .undercost {
	font-size: 90px;
}

.screen-s .undercost {
	font-size: 50px;
}
/*   ================================================
                          TOP BAR
     ================================================  */                       
#topbar {
/* 	background: #8abde8; */
  background-image: url("images/backtop3.jpg");
  background-repeat: no-repeat;
  background-color: #F9FDFF;
	height: 80px;
	position: relative;
	font-size: 26px;
	text-align: center;
}

#topbar .xbrllogo {
	position: absolute; 
	right: 16px; 
	top: 6px; 
}

#topbar .xbrllogo img {
	height: 72px;
}

#topbar .title {
	padding-top: 2px; 
	font-size: 32px; 
	font-weight: 200;
}
#topbar .subtitle {
  padding-top: -6px; 
  font-size: 18px; 
  font-weight: normal;
}
#topbar .stemmarsm {
   position: absolute; 
   left: 12px; 
   top: 6px;
}

/* -------- MEDIUM SCREEN --------- */
.screen-m #topbar .title {
	padding-top: 2px; 
	font-size: 26px; 
	font-weight: 200;
}

.screen-m #topbar .subtitle {
	font-size: 14px; 
}

.screen-m #topbar .xbrllogo {
	height: 50px;
	right: 4px;
	top: 16px;
}


/* -------- SMALL SCREEN --------- */
.screen-s #topbar  {
	height: 120px;
}


.screen-s #topbar .xbrllogo {
	height: 50px;
}
.screen-s #topbar .stemmarsm {
}

.screen-s #topbar .title {
	font-size: 20px; 
	font-weight: 200;
  position: absolute; 
  left: 68px; 
  top: 52px;
}

.screen-s #topbar .subtitle {
	font-size: 11px; 
	display: block;
  position: absolute; 
  left: 68px; 
  top: 90px;
}


/*   ================================================
                       MIDDLE BAR (slick carousel)
     ================================================  */                       
#middlebar {
	width: 50%;
	max-width: 700px;
	margin: 12px auto; 
	background: #abc;
	background: url("images/backnews.jpg");
	z-index: 10;
}	
#middlebar .slickpanel {
	text-align: center;
	width: 85%;
	margin: 0 auto; 
	xborder: 1px solid #93d5f9;
}	

#middlebar .slickpanel div.new {
	font-size: 28px;
	height: 320px;
	position: relative;
	background: rgba(178, 224, 244, 0.7);
}	

#middlebar .slickpanel div.data {
	font-size: 14px;
	font-weight: normal;
}	

.screen-m #middlebar .slickpanel div.data {
	font-size: 13px;
}
.screen-s #middlebar .slickpanel div.data {
	font-size: 12px;
}
#middlebar .slickpanel div.title {
	font-size: 24px;
	font-weight: 200;
	border-bottom: 1px solid #146389;
	width: 90%;
	margin: 1px auto;
}	
.screen-m #middlebar .slickpanel div.title {
	font-size: 22px;
}
.screen-s #middlebar .slickpanel div.title {
	font-size: 16px;
}
#middlebar .slickpanel div.body, #middlebar .slickpanel div.body p {
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	padding: 2px 6px;
}	
.screen-m #middlebar .slickpanel div.body, .screen-m #middlebar .slickpanel div.body p {
	font-size: 16px;
}
.screen-s #middlebar .slickpanel div.body, .screen-s #middlebar .slickpanel div.body p {
	font-size: 13px;
}

#middlebar .slickpanel div.body img {
	float: left;
}

#middlebar .slickpanel div.continue {
	text-align: right;
	position: absolute;
	right: 1px;
	bottom: 2px;
}	
#middlebar .slickpanel div.continue a {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	text-decoration: underline;	
}

#middlebar .slick-dots li button:before {
    font-size: 12px;
}

/*   ================================================
                         BOXES
     ================================================  */                       
.boxstripe {
	margin-top: 40px;
	text-align: center; 
	vertical-align: top;	
}
.box {
	display: inline-block;
	background: #fafafa;
	width: 20%;
	min-width: 200px;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 4px;
	margin: 3px 4px;
	
  -webkit-box-shadow: 0 0 6px 1px #C9C9C9;
  box-shadow: 0 0 6px 1px #C9C9C9;	
}
.box .icon {
	text-align: center;
}
.box .icon img {
	width: 40px;
}
.box .title {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

.box .desc {
	margin-top: 12px;
	font-size: 18px;
	font-weight: 200;
	text-align: left;
	height: 200px;
	overflow: hidden;
}

.box .more {
	text-align: right;
}	

.box .more a {
	text-align: right;
	font-size: 16px;
	text-decoration: underline;
	font-weight: 200;
	color: #333;
}	
/*
.screen-m .box .title {
	font-size: 16px;
}

.screen-m  .box .desc {
	margin-top: 10px;
	font-size: 14px;
}

.screen-m  .box .more a {
	font-size: 10px;
}
*/
/*   ==============================================
                         PAGES
     ==============================================  */        
.pagetitle {
	font-size: 28px;
	text-align: center;
	font-weight: 200;
	background: #fff;
	width: 90%;
	margin: 4px auto;
}
               
.argument {
	margin: 20px auto;
	padding: 6px 8px;
	background: rgba(245, 250, 255, 0.9);
	font-size: 24px;
	width: 80%;		
}

.argument .title {
	font-size: 26px;
	text-align: center;
	font-weight: 200;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#addffa+0,addffa+50,addffa+100&0.2+0,1+50,0.2+100 */
	background: -moz-linear-gradient(left, rgba(173,223,250,0.2) 0%, rgba(173,223,250,1) 50%, rgba(173,223,250,0.2) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(173,223,250,0.2) 0%,rgba(173,223,250,1) 50%,rgba(173,223,250,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(173,223,250,0.2) 0%,rgba(173,223,250,1) 50%,rgba(173,223,250,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.argument h1 {
	font-size: 21px;
	text-align: left;
	font-weight: normal;
	margin: 6px 0 4px 20px;
	text-transform: uppercase;
}

.argument .body, .argument .body p {
	font-size: 18px;
	font-weight: 200;
}

a.linkhome {
	color: #000;
	margin-left: 30px;
	margin-top: 20px;
	display: block;
	font-size: 18px;
	font-weight: 200;
}

/*  -------------------------------------
                     FONTS
    ------------------------------------- */
@font-face {
    font-family: 'lato';
    src: url('./fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('./fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('./fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('./fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('./fonts/lato/lato-thin-webfont.woff2') format('woff2'),
         url('./fonts/lato/lato-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}                     